git+https://github.com/relations-dil/python-relations.git@2a4fa0c#egg=python-relations
git+https://github.com/relations-dil/python-relations-sql.git@3ade7fb#egg=python-relations-sql
git+https://github.com/relations-dil/python-relations-postgresql.git@861d981#egg=python-relations-postgresql
psycopg2==2.8.6
ptvsd==4.3.2
coverage==5.2.1
pylint==2.5.3
