git+https://github.com/relations-dil/python-relations.git@0.6.9#egg=python-relations
git+https://github.com/relations-dil/python-relations-sql.git@0.6.5#egg=python-relations-sql
git+https://github.com/relations-dil/python-relations-postgresql.git@0.6.0#egg=python-relations-postgresql
psycopg2==2.8.6
ptvsd==4.3.2
coverage==5.2.1
pylint==2.5.3
